{% extends "dashboard_base.html" %}
{% load i18n %}
{% load account socialaccount crispy_forms_tags %}
{% block title %}
    {{ block.super }}| {% trans "Sign In" %}
{% endblock %}
{% block content %}
    <div class="bg-body min-vh-100 d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="card-group d-block d-md-flex row">
                        <div class="card col-md-7 p-4 mb-0">
                            <div class="card-body">
                                <h1>{% trans "Sign In " %}</h1>
                                {% get_providers as socialaccount_providers %}
                                {% if socialaccount_providers %}
                                    <p>
                                        {% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}
                                    </p>
                                    <div class="socialaccount_ballot">
                                        <ul class="socialaccount_providers">
                                            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                                        </ul>
                                        <div class="login-or">{% trans 'or' %}</div>
                                    </div>
                                    {% include "socialaccount/snippets/login_extra.html" %}
                                {% else %}
                                    <p>
                                        {% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
                                    </p>
                                {% endif %}
                                {% crispy form %}
                            </div>
                        </div>
                        <div class="card col-md-5 text-white bg-primary py-5">
                            <div class="card-body text-center">
                                <div>
                                    <h2>Sign up</h2>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                    <a href="{% url 'account_signup' %}"
                                       class="btn btn-lg btn-outline-light mt-3"
                                       type="button">Register Now!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
