{% extends "base.html" %}
{% load static crispy_forms_tags %}
{% load i18n %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col col-md-6 offset-md-3">
                <div class="form_box my-5 py-5">
                    <h1>{% trans "Sign Up" %}</h1>
                    <p>
                        {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
                    </p>
                    {% crispy form %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
