{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col my-2">
                <h1 class="text-secondary">Products</h1>
            </div>
        </div>
        <hr/>
        <h2></h2>
        <div class="g-2 row row-cols-1 row-cols-lg-5 row-cols-md-3 row-cols-sm-2">            
                {% for product in products %}
                <div class="col">
                    <div class="card">
                        <a href="{% url 'product-web:detail' product.id %}"
                           class="text-decoration-none">
                            <img src="https://picsum.photos/100/75"
                                 class="card-img-top"
                                 alt="{{ product.title }}">
                            <div class="card-body">
                                <h5 class="card-title fs-6x">{{ product.title }}</h5>
                            </div>
                        </a>
                        <div class="card-footer">
                            <small class="text-body-secondary">{{ product.updated_at }}</small>
                        </div>
                    </div>
                    </div>
                    {%empty%}
                    <div class="col">

                        <p class="text-info fs fs-3"> No Products! </p>
                    </div>
                {% endfor %}
            
        </div>
    </div>
{% endblock content %}
