{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row row-cols-5 g-2">            
                {% for product in products %}
                <div class="col">
                    <div class="card">
                        <a href="{% url 'product-web:detail' product.id %}"
                           class="text-decoration-none">
                            <img src="https://picsum.photos/100/75"
                                 class="card-img-top"
                                 alt="{{ product.title }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.title }}</h5>
                            </div>
                        </a>
                        <div class="card-footer">
                            <small class="text-body-secondary">{{ product.updated_at }}</small>
                        </div>
                    </div>
                    </div>
                {% endfor %}
            
        </div>
    </div>
{% endblock content %}
